#success_message {
	display: none;
}
.menu-top{
	    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
  
	}
.benner-tenmau {
	text-align:right;
	font-style:italic;
	padding:20px;
}
.banner-tentruong {
	text-align:center;
}
.tenphieu {
	text-align:center
}
.tenfrom{
text-align:left !important;
}
.textarea-from{
display: block;
    width: 100%;
    height: 68px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ECECEC;
    background-image: none;
    border: 1px dashed #EBEBEB;
    border-bottom: 1px dashed #676565;	
	}
.textbox-icon{
border: 0px !important;
}
.textbox
{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ECECEC;
    background-image: none;
    border: 1px dashed #EBEBEB;
	border-bottom: 1px dashed #676565;
	
	}
.chuky{
text-align:center;
}