
<div class="row">
  <div class="col-xs-12"> 
    <!-- PAGE CONTENT BEGINS -->
    
    <div class="widget-box">
      <div class="widget-header widget-header-flat">
        <h4 class="widget-title">Hướng dẫn sử dụng</h4>
      </div>
      <div class="widget-body">
        <div class="widget-main">
          <div class="row">
            <div class="col-sm-12">
              <li>
                <h4> <i class="ace-icon fa fa-bell-o bigger-110 purple"></i> Danh sách chức nắng</h4>
              </li>
              <ol>
                <li class="text-primary"><i class="menu-icon fa fa-tachometer"></i> <a href="#cauhinhmenu"> Cấu hình Menu</a></li>
                <li class="text-primary"><i class="menu-icon fa fa-pencil-square-o"></i> <a href="#cauhinhdanhmuc"> Cấu hình Danh mục</a>
                  <ol>
                    <li class="text-primary"><a href="#cauhinhnamdk"> Cấu hình Năm đăng ký</a></li>
                    <li class="text-primary"> <a href="#cauhinhnamdk">Phân loại đăng ký</a></li>
                    <li class="text-primary"><a href="#cauhinhlinhvucdk"> Lĩnh vực đăng ký</a></li>
                    <li class="text-primary"> <a href="#cauhinhchuyenmondk">Chuyên môn đăng ký</a></li>
                  </ol>
                </li>
                <li class="text-primary"><i class="menu-icon fa fa-list"></i> <a href="#cauhinhtrangthai">Cấu hình Trạng thái</a></li>
                <li class="text-primary"><i class="menu-icon fa fa-list-alt"></i><a href="#cauhinhtieuchixet"> Cấu hình tiêu chí xét</a>
                  <ol>
                    <li class="text-primary"><a href="#cauhinhdanhmuctieuchi"> Danh mục tiêu chí</a></li>
                    <li class="text-primary"><a href="#cauhinhtieuchi"> Tiêu chí</a></li>
                    <li class="text-primary"><a href="#xemtieuchi"> Xem tiêu chí</a></li>
                    <li class="text-primary"><a href="#addtichitodk"> Add tiêu chí vào trong đăng ký</a></li>
                  </ol>
                <li class="text-primary"><i class="menu-icon fa fa-file-o"></i> Quản lý danh sách đã đăng ký</li>
                <li class="text-primary"><i class="menu-icon fa fa-cogs"></i> Xét đăng ký </li>
                <li class="text-primary"><i class="menu-icon fa fa-bullhorn"></i> Thống kê báo cáo </li>
              </ol>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
            <li>
                <h4> <i class="ace-icon fa fa-bell-o bigger-110 purple"></i> Hướng dẫn sử dụng</h4>
              </li>
              <ul class="list-unstyled spaced2">
                <h4>
                  <li class="muted"> <i class="ace-icon fa fa-share green bigger-110"></i> Cấu hình menu </li>
                </h4>
                <p class="lighter line-height-125"> Cho phép thêm xóa sửa tên menu <br />
                  - Thêm menu bằng cách chọn <strong> Cấu hình menu </strong> chọn <strong >Thêm main menu </strong> hoặc <strong>Thêm sub menu</strong> <br />
                  - Sửa menu bằng cách chọn biểu tượng <i class="menu-icon fa fa-pencil-square-o"></i> <br />
                  - Xóa menu bằng cách chọn biểu tượng <i class="glyphicon glyphicon-trash"></i> </p>
              </ul>
              <hr />
              <ul class="list-unstyled spaced2">
                <h4>
                  <li class="muted" id="cauhinhdanhmuc"> <i class="ace-icon fa fa-share green bigger-110"></i> Cấu hình Danh mục </li>
                </h4>
                <p class="lighter line-height-125"> Cho phép cấu hình quản lý danh mục đăng ký dựa vào <strong>Năm</strong> đăng ký, trong <strong>Năm</strong> đăng này có Phân loại theo <strong>Cá nhân</strong> hoặc <strong> Tập thể</strong>. Mỗi phần loại đăng ký lại có <strong> Lĩnh vực</strong> tương ứng. Trong lĩnh vực đăng ký thì lại có những chuyên môn tương ứng. <br />
                </p>
                <blockquote>
                  <p> - <strong>Ví dụ:</strong> tạo ra <strong>Năm 2016</strong> trong năm 2016 có phân loại đăng ký <strong>Cá nhận và Tập thể</strong> trong 2 phân loại này đều có Lĩnh vực <strong>"Công nghệ thông tin"</strong>. Trong lĩnh vực <strong>"Công nghệ thông tin"</strong> lại có chuyên môn <strong>"Mạng"</strong> và <strong>"Công nghệ phần mềm"</strong> <br />
                  </p>
                </blockquote>
                <p> - Thêm nội dung tương ứng bằng cách chọn nút <strong> Thêm ... </strong> ở trong từng chức năng <br />
                  - Sửa nội dung tương ứng bằng cách chọn biểu tượng sửa <i class="menu-icon fa fa-pencil-square-o"></i> ở trong từng chức năng <br />
                  - Xóa nội dung tương ứng bằng cách chọn biểu tượng xóa <i class="glyphicon glyphicon-trash"></i> ở trong từng chức năng </p>
              </ul>
              <hr />
              <ul class="list-unstyled spaced2">
                <h4>
                  <li class="muted" id="cauhinhtrangthai"> <i class="ace-icon fa fa-share green bigger-110"></i> Cấu hình Trạng thái </li>
                </h4>
                <p class="lighter line-height-125"> Cho phép cấu hình trạng thái của đăng ký. Các trạng thái tương ứng thì có nững màu nền tương ứng, bạn có thể thay đổi các kiểu hiển thị để sinh động và dễ dàng nhận biết<br />
                <ol>
                  <li class="text-primary"><span class="label label-sm label-success"> Chờ duyệt</span></li>
                  <li class="text-primary"><span class="label label-sm label-info arrowed arrowed-righ"> Đang duyệt</span></li>
                  <li class="text-primary"><span class="label label-sm label-warning"> Đạt</span></li>
                  <li class="text-primary"><span class="label arrowed"> Không đạt</span></li>
                  <li class="text-primary"><span class="label label-sm label-inverse arrowed-in"> Trùng tên đề tài</span></li>
                </ol>
                </p>
                <p> - Thêm nội dung tương ứng bằng cách chọn nút <strong> Thêm ... </strong> ở trong từng chức năng <br />
                  - Sửa nội dung tương ứng bằng cách chọn biểu tượng sửa <i class="menu-icon fa fa-pencil-square-o"></i> ở trong từng chức năng <br />
                  - Xóa nội dung tương ứng bằng cách chọn biểu tượng xóa <i class="glyphicon glyphicon-trash"></i> ở trong từng chức năng </p>
              </ul>
              <hr />
              <ul class="list-unstyled spaced2">
                <h4>
                  <li class="muted" id="cauhinhtieuchixet"> <i class="ace-icon fa fa-share green bigger-110"></i> Cấu hình Tiêu chí xét </li>
                </h4>
                <p class="lighter line-height-125">Danh mục tiêu chí và tiêu chí xét duyệt là căn cứ, điều kiện để người dùng dựa bào đó duyệt những đăng ký nào đó có thảo mãn một điều kiện hoặc tập nhiều điều khiện khác nhau được đưa ra trước đó hay không.</p>
                <li class="muted" id="cauhinhdanhmuctieuchi"><i class="ace-icon fa fa-angle-right bigger-110"></i> Danh mục tiêu chí </li>
                <p class="lighter line-height-125"> Cấu hình Danh mục tiêu chí tạo ra những <strong>Danh mục tiêu chí</strong> xét duyệt dựa vào cấu hình <strong>Lĩnh vực</strong> ở trên. Mỗi lĩnh vực "chỉ tồn tại 1 Danh mục tiêu chí xét duyệt"</p>
                <p>
                <li class="muted" id="cauhinhtieuchi"><i class="ace-icon fa fa-angle-right bigger-110"></i> Tiêu chí </li>
                <p class="lighter line-height-125">Cấu hình tiêu chí tạo ra những <strong>Tiêu chí</strong> xét duyệt dựa vào cấu hình <strong>Danh mục tiêu chí</strong> ở trên. <strong>Mỗi tiêu chí "chỉ thuộc 1 Danh mục tiêu chí xét duyệt". Mỗi Danh mục tiêu chí "Thì gồm nhiều tiêu chí xét duyệt khác nhau"</strong></p>
                <blockquote>
                  <p> - <strong>Ví dụ:</strong> tạo ra <strong>Năm 2016</strong> trong năm 2016 có phân loại đăng ký <strong>Cá nhận và Tập thể</strong> trong 2 phân loại này đều có Lĩnh vực <strong>"Công nghệ thông tin"</strong>. Trong lĩnh vực <strong>"Công nghệ thông tin"</strong> lại có chuyên môn <strong>"Mạng"</strong> và <strong>"Công nghệ phần mềm"</strong> <br />
                    - Trong Lĩnh vực <strong>"Công nghệ thông tin"</strong> có chuyên môn <strong>"Mạng"</strong> thì có <strong>Danh mục tiêu chí</strong> và các <strong>Tiêu chí xét duyệt tương ứng</strong> dùng để xét duyệt cho lĩnh vực và chuyện môn tương ứng </p>
                </blockquote>
                
                    <li class="muted" id="xemtieuchi"><i class="ace-icon fa fa-angle-right bigger-110"></i> Xem tiêu chí </li>
                <p class="lighter line-height-125"> Cho phép người dùng xem hệ thống <strong> Danh mục tiêu chí</strong> bao gồm những <strong >Tiêu chí</strong> nào trong đó.</p>
                 <li class="muted" id="addtichitodk"><i class="ace-icon fa fa-angle-right bigger-110"></i> Add Tiêu chí to ĐK </li>
                <p class="lighter line-height-125"> Cho phép người dùng chỉnh sửa, bổ sung và thêm những <strong>Danh mục tiêu chí</strong> vào những <strong> Đăng ký</strong> không thuộc những lịch đã được cấu hình sẵn có trước đó trong hệ thông</p>
                
                
                <p> - Thêm nội dung tương ứng bằng cách chọn nút <strong> Thêm ... </strong> ở trong từng chức năng <br />
                  - Sửa nội dung tương ứng bằng cách chọn biểu tượng sửa <i class="menu-icon fa fa-pencil-square-o"></i> ở trong từng chức năng <br />
                  - Xóa nội dung tương ứng bằng cách chọn biểu tượng xóa <i class="glyphicon glyphicon-trash"></i> ở trong từng chức năng </p>
              </ul>
              <hr />
              <ul class="list-unstyled spaced2">
                <h4>
                  <li class="muted" id="cauhinhtieuchixet"> <i class="ace-icon fa fa-share green bigger-110"></i> Quản lý danh sách đăng ký </li>
                </h4>
                <p class="lighter line-height-125">Quản lý danh sách đăng ký. Hiển thị những đăng ký với đầy đủ thông tin bao gồm cả kết quả đánh giá và nhận xét của hội động. Người dùng có thể xem chi tiết bằng cách nhấp vào nút xem chi tiết <strong><i class="ace-icon fa fa-search-plus bigger-130"></i></strong>. Người dùng có thể cập nhật tình trạng của đăng ký ở ổ <strong>Trạng thái</strong></p>
                
              </ul>
                 <ul class="list-unstyled spaced2">
                <h4>
                  <li class="muted" id="cauhinhtieuchixet"> <i class="ace-icon fa fa-share green bigger-110"></i> Xét đăng ký </li>
                </h4>
                <p class="lighter line-height-125">Dựa vào những <strong>đăng ký</strong> và <strong>Danh mục tiêu chí</strong>do người dùng cấu hình trước đó. Người dùng tiến hành xét duyệt những đăng ký đó có đạt hay không đạt. Sau khi xét duyệt xong và nhấn nút lưu hệ thống xẽ khóa lại không thể thao tác nữa. Đồng thời trạng thái của đăng ký cũng được cập nhật theo đánh giá tương ứng đó.<cite title="Source Title">"Lưu ý trạng thái <strong>"Chờ duyệt" và "Đang duyệt"</strong> thì hệ thống không khóa dữ liệu, đồng thời hiển thị đánh giá và kết quả nhận xét trước đó cho người dùng coi. Trong trường hợp này người dùng cần chọn lại trạng thái ngoài 2 trang thái <strong>"Chờ duyệt" và "Đang duyệt"</strong> và lưu lại để hệ thống khóa dữ liệu".</cite> kết thúc quá trình đăng ký và xét duyệt../</p>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col --> 
</div>
<!-- /.row --> 
